.word_box {
  color: black;
  display: inline-block;
  clear:both;
  float:center;
  padding:5px;
}

ul {
/*  overflow-x: scroll;*/
  white-space: nowrap;
}

li {
  display: inline-block; 
  *display: inline;
  zoom: 1;
}

tr{
  padding:20px;
  border:10px;
}

.page_scroll{
  overflow-x: scroll;
}
